/* Initial reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1 rem = 10 px */
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* Variables */
:root {
  /* Colores */
  --bitcoin-green: #2d882d;
  --soft-green: #779d34;
  --secondary-blue: #236a62;
  --soft-blue: #0c887b;
  --green-black: #303a30;
  --blue-black: #252d2c;
  --green-grey: #5f7041;
  --just-white: #ffffff;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  height: 295px;
  text-align: center;
  background: linear-gradient(180deg, #303A30 22.22%, #10AF10 100%);
}

header img {
  width: 150px;
  margin-top: 28px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin: 28px 0 32px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 28px;
}

.header__title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: whitesmoke;
}
.header__button {
  position: absolute;
  top: calc(100% - 44px);
  left: calc(50% - 114.5px);
  margin-top: 20px;
  padding: 15px;
  width: 229px;
  height: 48px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--green-black);
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
}
.header__button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 14px;
  background-image: url("./assets/icons/arrow_down.svg");
  background-position: center;
  background-size: auto;
}
