/* Initial reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1 rem = 10 px */
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

/* Variables */
:root {
  /* Colores */
  --bitcoin-green: #2d882d;
  --soft-green: #779d34;
  --secondary-blue: #236a62;
  --soft-blue: #0c887b;
  --green-black: #303a30;
  --blue-black: #252d2c;
  --green-grey: #5f7041;
  --just-white: #ffffff;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  height: 295px;
  text-align: center;
  background: linear-gradient(180deg, #303A30 22.22%, #10AF10 100%);
}

header img {
  width: 150px;
  margin-top: 28px;
  align-self: center;
}

.header__title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin: 28px 0 32px;
  text-align: center;
  align-self: center;
}

.header__title-container h1 {
  color: var(--just-white);
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin-bottom: 28px;
}

.header__title-container p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: whitesmoke;
}
.header__button {
  position: absolute;
  top: calc(100% - 44px);
  left: calc(50% - 114.5px);
  margin-top: 20px;
  padding: 15px;
  width: 229px;
  height: 48px;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--green-black);
  text-decoration: none;
  background-color: whitesmoke;
  border: none;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  z-index: 1;
}
.header__button span {
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 14px;
  background-image: url("./assets/icons/arrow_down.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
}
.main__exchange-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: whitesmoke;
}
.main__exchange-container img {
  width: 195px;
  align-self: center;
  margin-bottom: 40px;
}
.main__exchange-container__text-container {
  margin-bottom: 48px;
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 130px;
  align-self: center;
  text-align: center;
}
.main__exchange-container__text-container h2 {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--green-black);
}
.main__exchange-container__text-container p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  color: var(--green-grey);
}
.main__exchange-container__coin-tables {
  width: 100%;
  height: auto;
}
.coin-tables__currency {
  position: relative;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
.coin-tables__currency__title {
  position: relative;
  left: 12px;
  display: inline-block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--bitcoin-green);
}
.coin-tables__currency__table-container {
  font-family: 'Inter', sans-serif;
  width: 100%;
  min-width: 200px;
  max-width: 300px;
  height: 200px;
  text-align: center;
}
.coin-tables__currency__table-container table {
  width: 100%;
  height: 100%;
}
.coin-tables__currency__table-container table td {
  width: 50%;
  padding: 10px 12px;
  background-color: var(--just-white);
}
.table-container--left-column {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--soft-blue);
  text-align: left;
}
.table-container--left-column.top-cell {
border-radius: 8px 0 0 0;
}
.table-container--right-column.top-cell {
  border-radius: 0 8px 0 0;
}
.table-container--right-column.bottom-cell {
  border-radius: 0 0 8px 0;
}
.table-container--left-column.bottom-cell {
  border-radius: 0 0 0 8px;
}
.table-container--right-column {
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--secondary-blue);
  text-align: right;
}
.table-container--right-column.down-trend span {
  background: url("./assets/icons/trending-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.table-container--right-column.up-trend span {
  background: url("./assets/icons/trending-up.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.table-container--right-column span {
  display: inline-block;
  margin-left: 10px;
  width: 12px;
  height: 12px;
}
.coin-tables__currency__date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 200px;
  height: 30px;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  margin-right: auto;
  margin-left: auto;
  color: var(--green-black);
  background-color: #86CA12;
  border: none;
  border-radius: 8px;
}